.range {
  display: flex;
  padding: 0.2rem;
  min-width: 120px;
  max-width: 120px;
  align-items: center;
  gap: 4px;

  span {
    min-width: 20px;
    text-align: center;
    font-size: 10px;
    color: var(--button-color);
  }
  input {
    padding: 0;
    height: 4px;
    width: 100%;
    max-width: 100%;
    accent-color: var(--button-color);
  }
}
