.container {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2px;
  z-index: 50;
  // background: #1c1c1e;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
  background: var(--ui-tetra-background);

  i {
    padding: 0 4px;
  }
  input {
    max-width: 100%;
    width: 100%;
    flex: 1;
    font-size: 0.8rem;
    background-color: transparent;
  }
}
