//

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.max-width {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 1rem;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: var(--ui-color-secondry);
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    color: var(--ui-color-octonary);
    color: #6c6c73;
    // opacity: 0.5;
  }
}
