:root {
  /* natural colors */
  --ui-kit-white: 255 255 255;
  --ui-kit-black: 0 0 0;
  /* ios colors */
  --ui-kit-color-blue: 10 132 255;
  --ui-kit-color-brown: 172 142 104;
  --ui-kit-color-cyan: 100 210 255;
  --ui-kit-color-green: 48 209 88;
  --ui-kit-color-indigo: 94 92 230;
  --ui-kit-color-mint: 102 212 207;
  --ui-kit-color-orange: 255 159 10;
  --ui-kit-color-pink: 255 55 95;
  --ui-kit-color-purple: 191 90 242;
  --ui-kit-color-red: 255 69 58;
  --ui-kit-color-teal: 64 200 224;
  --ui-kit-color-yellow: 255 214 10;
}

:root {
  /* Primary - Background color for the root */
  --ui-kit-primary-background-color: 10 10 10;

  /* Secondary - Background color for cards */
  --ui-kit-secondary-background-color: 28 28 30;

  /* Tertiary - Color for buttons and other elements */
  --ui-kit-tertiary-background-color: 46 46 48;

  --ui-kit-opacity-01: 0.1;
  --ui-kit-opacity-02: 0.2;
  --ui-kit-opacity-03: 0.3;
  --ui-kit-opacity-04: 0.4;
  --ui-kit-opacity-05: 0.5;
  --ui-kit-opacity-06: 0.6;
  --ui-kit-opacity-07: 0.7;
  --ui-kit-opacity-08: 0.8;
  --ui-kit-opacity-09: 0.9;
  --ui-kit-opacity: 1;
  // Background States
  --ui-kit-background-primary: 28 28 30;
  --ui-kit-background-secondry: 46 46 48;
  --ui-kit-background-hover: 44 44 49;
  --ui-kit-background-active: 50 50 55;
  --ui-kit-background-disabled: 30 30 35;
  --ui-kit-background-border: 40 40 45;
  // Color States
  --ui-kit-color-main: 255 255 255;
  --ui-kit-color-hover: 240 240 240;
  --ui-kit-color-active: 225 225 225;
  --ui-kit-color-disabled: 210 210 210;
  /*
  * Text 
  */
  --ui-kit-text-body-color: rgba(var(--ui-kit-color-main));
  --ui-kit-text-heading-color: rgba(var(--ui-kit-color-main));
  --ui-kit-text-paragraph-color: rgba(var(--ui-kit-color-main));
  --ui-kit-text-label-color: rgba(var(--ui-kit-color-main));
  --ui-kit-text-disable-color: rgba(var(--ui-kit-color-main));
  /*
  * Button Variables
  */
  --ui-kit-button-primary-background: rgba(
    var(--ui-kit-primary-background-color)
  );
  --ui-kit-button-secondry-background: rgba(
    var(--ui-kit-secondary-background-color)
  );
  --ui-kit-button-background: rgba(var(--ui-kit-tertiary-background-color));
  --ui-kit-button-color: rgba(var(--ui-kit-color-main));

  --ui-kit-button-hover-background: #343436;
  --ui-kit-button-hover-color: rgba(var(--ui-kit-color-hover));

  --ui-kit-button-active-background: #3a3a3c;
  --ui-kit-button-active-color: rgba(var(--ui-kit-color-active));

  --ui-kit-button-disabled-background: #272729;
  --ui-kit-button-disabled-color: rgba(var(--ui-kit-color-disabled));

  --ui-kit-button-border-color: rgba(var(--ui-kit-tertiary-background-color));

  /*
  * Link Variables
  */
  --ui-kit-link-color: rgba(var(--ui-kit-color-blue));
  --ui-kit-link-hover-color: rgba(10, 132, 255, 0.8);
  /*
  * Line Variables
  */
  --ui-kit-line-border-primary-color: #606061;
  --ui-kit-line-border-secondry-color: rgba(
    var(--ui-kit-secondary-background-color)
  );
  /*
  * UI Switch
  */
  --ui-kit-switch-thumb-color: var(--ui-kit-button-border-color);
  --ui-kit-switch-background-color: rgba(var(--ui-kit-color-green));
  --ui-kit-switch-foreground-color: rgba(
    var(--ui-kit-tertiary-background-color)
  );
  /*
  * UI Search Bar
  */
  --ui-kit-search-color: var(--ui-kit-button-border-color);
  --ui-kit-search-background: rgba(var(--ui-kit-background-primary));
  /*
  * UI Segment
  */
  --ui-kit-segment-primary-background: rgba(
    var(--ui-kit-primary-background-color)
  );
  --ui-kit-segment-secondry-background: rgba(
    var(--ui-kit-tertiary-background-color)
  );
  --ui-kit-segment-primary-color: rgba(var(--ui-kit-color-main));
}

.particle {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('/texture/particle.svg');
}

.ui-kit-search-bar {
  border: 1.5px solid transparent;
  outline: 1.5px solid transparent;
  background-color: rgba(var(--ui-kit-tertiary-background-color));
  &:focus {
    border-color: rgb(var(--ui-kit-white) / var(--ui-kit-opacity-02));
    box-shadow: 0px 0px 1px 3px
      rgb(var(--ui-kit-white) / var(--ui-kit-opacity-01));
  }
}

//
.scroll {
  --color-progress: #21b3ff;
  --color-progressDark: #5021ff;
  background: linear-gradient(
    to left,
    var(--color-progress),
    var(--color-progressDark)
  );
  bottom: 0;
  height: 2px;
  left: 0;
  position: fixed;
  transform: scaleX(var(--scroll));
  transform-origin: left;
  transition: transform 0.1s ease-in-out;
  width: 100%;
  z-index: 1;
}
//

.app-root {
  background-color: #ec99ff;
  background-image: radial-gradient(
      at 27% 63%,
      hsla(210, 84%, 60%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 89%, hsla(282, 81%, 72%, 1) 0px, transparent 50%);
}
