// For Color Picker

.ColorPicker {
  position: relative;
  display: grid;
  span {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: violet;
  }
}

.PickerModel {
  display: grid;
  gap: 0.4rem;
  position: absolute;
  top: 25px;
  right: 0px;
  transition: 200ms;
  transform: scale(1);
  transform-origin: right top;
  height: auto;
  width: auto;
  padding: 4px;
  border-radius: 6px;
  background: var(--Background-4);
  min-height: 100px;
  transition: 200ms ease-in;
}

.Colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  div {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    &:active {
      transform: scale(1.05);
    }
  }
}

.Tab {
  background: var(--Background-3);
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 2px;
  border-radius: 4px;
  button {
    font-size: 0.7rem;
    flex: 1;
    background: transparent;
    cursor: pointer;
    &:nth-of-type(2) {
      background: var(--Background-4);
    }
  }
}
