@mixin Buttons() {
  flex: 1;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  cursor: pointer;
  align-items: center;
  place-content: center;
  grid-auto-flow: column;
  transition: 100ms ease-in-out;
  color: var(--Color-1);
  &:active {
    transform: translateY(-2px);
  }
}

// Here Segment Style

.Segment {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--Color-1);
  span {
    font-size: 12px;
    font-weight: lighter;
    color: var(--Color-1);
    margin-right: 0.4rem;
  }
}

.WraperButton {
  @include Buttons;
  background: var(--Background-3);
  &:hover {
    background: var(--Background-4);
  }
  p {
    font-size: 0.7rem;
    font-weight: 500;
  }
  svg {
    height: 18px;
    width: 18px;
  }
}

.TabButton,
.Active,
.notallow {
  @include Buttons;
  background: var(--Background-2);
  flex-direction: column;
  &:active {
    transform: translateY(-1px);
  }
  p {
    font-size: 0.7rem;
    font-weight: 500;
    max-width: 80px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.Active {
  background: var(--Background-4);
}

.notallow {
  background-color: var(--Background-3);
  opacity: 0.5;
  cursor: not-allowed;
  &:active {
    transform: unset;
  }
}
