$Height: 5px;
$Width: 100%;

.Slider {
  display: flex;
  align-items: center;
  input[type="range"] {
    width: $Width;
    height: $Height;
    border-radius: 20px;
    -webkit-appearance: "none";
    -moz-appearance: none;
    appearance: none;
    transition: 200ms linear;
    touch-action: none;
    padding: 0;
    cursor: pointer;
    -webkit-overflow-scrolling: none;
    &::-webkit-slider-runnable-track {
      appearance: none;
    }
    &::-webkit-slider-thumb {
      appearance: none;
      width: $Height * 4;
      height: $Height * 4;

      border-radius: 10px;
      position: relative;
      background-color: var(--Color-1);
    }
  }
}
