// Control Center Slider

$Height: 50px;
$Width: 100%;

.TapSlider {
  display: flex;
  align-items: center;
  input[type="range"] {
    width: $Width;
    height: $Height;
    border-radius: 18px;
    -webkit-appearance: "none";
    -moz-appearance: none;
    appearance: none;
    transition: 200ms linear;
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: none;

    transform-origin: center;
    &::-webkit-slider-runnable-track {
      appearance: none;
    }
    &::-webkit-slider-thumb {
      appearance: none;
      width: $Height - 20px;
      height: $Height;
      background: transparent;
    }
  }
}
