:root {
  // #_ios_Color
  --ui-color-blue: rgb(0, 122, 255);
  --ui-color-brown: rgb(162, 132, 94);
  --ui-color-cyan: rgb(50, 173, 230);
  --ui-color-green: rgb(52, 199, 89);
  --ui-color-indigo: rgb(88, 86, 214);
  --ui-color-mint: rgb(0, 199, 190);
  --ui-color-orange: rgb(255, 149, 0);
  --ui-color-pink: rgb(255, 45, 85);
  --ui-color-purple: rgb(175, 82, 222);
  --ui-color-red: rgb(255, 59, 48);
  --ui-color-teal: rgb(48, 176, 199);
  --ui-color-yellow: rgb(255, 204, 0);
  // #_ios_Dark_Color
  --ui-color-dark-blue: rgb(10, 132, 255);
  --ui-color-dark-brown: rgb(172, 142, 104);
  --ui-color-dark-cyan: rgb(100, 210, 255);
  --ui-color-dark-green: rgb(48, 209, 88);
  --ui-color-dark-indigo: rgb(94, 92, 230);
  --ui-color-dark-mint: rgb(102, 212, 207);
  --ui-color-dark-orange: rgb(255, 159, 10);
  --ui-color-dark-pink: rgb(255, 55, 95);
  --ui-color-dark-purple: rgb(191, 90, 242);
  --ui-color-dark-red: rgb(255, 69, 58);
  --ui-color-dark-teal: rgb(64, 200, 224);
  --ui-color-dark-yellow: rgb(255, 214, 10);
  // #_twitter_COLOR
  --ui-color-carolina-blue: rgb(29, 155, 240);
  --ui-color-cyber-yellow: rgb(255, 212, 0);
  --ui-color-flickr-pink: rgb(249, 24, 128);
  --ui-color-slate-blue: rgb(120, 86, 255);
  --ui-color-heat-wave: rgb(255, 122, 0);
  --ui-color-sea-green: rgb(0, 186, 124);
}
