@mixin blur-effect {
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  background: var(--ui-transparent-alpha);
}
@mixin hover {
  &:hover {
    outline: var(--ui-outline);
  }
}

@mixin active {
  &:active {
    transform: translateY(2px);
  }
}

@mixin effect {
  border-radius: 8px;
  background: var(--ui-alpha);
  outline: 2px solid transparent;
}

@mixin button {
  padding: 0.4rem;
  position: relative;
  border-radius: 4px;
  min-width: 120px;
  width: fit-content;
  font-size: 12px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 100ms ease;
  i {
    display: grid;
    place-content: center;
    max-width: 16px;
    max-height: 16px;
  }
  label {
    width: fit-content;
    font-size: inherit;
  }
}

/**************************
Select Dropdown
***************************/

.select {
  // @include effect();
  border-radius: 6px;
  transition: all 100ms ease-in;
  &:hover {
    box-shadow: 0px 0px 0px 1.5px #ffffff75;
  }
}
.dropdown {
  display: flex;
  user-select: none;
  position: relative;
}
// Option List
.option {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  padding: 2px;
  @include blur-effect();
  background: rgba(0, 0, 0, 1);
  ul {
    gap: 4px;
    padding: 4px;
    display: flex;
    z-index: 10;
    overflow: auto;
    list-style: none;
    max-height: 400px;
    flex-direction: column;
    li {
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
      padding: 4px;
      display: flex;
      align-items: center;
      font-size: 12px;
      background: transparent;
      &:hover {
        background: #323232;
      }
    }
    &::-webkit-scrollbar {
      appearance: none;
      background: #ffffff21;
      width: 8px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 6px;
      border: 2px solid #ffffff21;
    }
  }
}
/**************************
Sticky
***************************/
.sticky {
  display: flex;
  position: absolute;
  align-items: center;
  button {
    gap: 4px;
    padding: 0.6rem;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  @include hover();
  @include effect();
  @include active();
  @include blur-effect();
}

.button {
  @include effect();
  border-radius: 6px;
  button {
    @include button();
  }
  @include active();
}
