@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.app-container {
  $primary: hsl(var(--nextui-background) / 1);
  $primary-alpha: hsl(var(--nextui-background) / 0);
  $line: hsl(var(--nextui-foreground-100) / 0.5);

  position: relative;
  background-image: linear-gradient(0deg, $primary, $primary-alpha 15%),
    linear-gradient(180deg, $primary, $primary-alpha 15%),
    radial-gradient(circle farthest-side at 50% 0, $primary-alpha, $primary),
    url('/texture/tile-dark.svg');
  background-position: 0 0, 0 0, 0 0, -1px -1px;
  background-size: auto, auto, auto, 64px;
  // background-color: $grid-line-color;
  @apply bg-foreground-100;
}

.scroll-content {
  &::-webkit-scrollbar {
    @apply h-1 w-1 bg-inherit appearance-none;
  }
  &::-webkit-scrollbar-thumb {
    @apply appearance-none rounded-lg bg-default-100;
  }
}
