.range {
  display: flex;
  align-items: center;
  background: var(--ui-alpha);
  outline: 2px solid transparent;
  border-radius: 6px;
  padding: 0.4rem;
  min-height: 30px;
  min-width: 80px;
  max-width: 100px;
  span {
    min-width: 20px;
    text-align: center;
    font-size: 10px;
    color: var(--ui-color);
  }
  input {
    padding: 0;
    accent-color: var(--ui-color);
    height: 4px;
    width: 100%;
    max-width: 100%;
  }
}
