.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  user-select: none;
  button {
    min-height: 25px;
    min-width: 25px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    &:active {
      transform: translateY(2px);
    }
  }
}
