.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.container .image {
  position: relative !important;
  height: 100% !important;
  width: 350px !important;
  object-fit: cover;
}
