$button-background: #1c1c1e;
$button-active: #2e2e30;
$button-hover: #1c1c1e;

// BUTTON STYLE

@mixin container {
  border-radius: 8px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $button-background;
  transition: all 50ms ease-in;
  min-width: 50px;
  span {
    font-size: 10px;
  }
}

@mixin button {
  flex: 1;
  gap: 0.1rem;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  border-radius: inherit;
}

@mixin disable {
  opacity: 0.5;
}

@mixin hover {
  &:hover {
    background: $button-active;
  }
}
@mixin active {
  &:active {
    background: $button-active;
  }
}

@mixin translate {
  &:active {
    transform: translateY(-2px);
  }
}
// STYLE START FROM
.container {
  @include container();
  button {
    @include button();
  }
}

.square {
  min-width: 35px;
}
.reactangle {
  min-width: 50px;
}

.disable {
  @include disable();
}
.active {
  @include active();
}
.clicked {
  background: $button-active;
}
.hover {
  @include hover();
}

.translate {
  @include translate();
}

.group {
  @include container();
  button {
    @include button();
  }
}

.line {
  height: 25px;
  width: 2px;
  border: none;
  background: $button-active;
  border-radius: 10px;
}

.stepper {
  @include container();
  background: $button-active;
  .hr {
    background: #3e3e3e;
    height: 25px;
    width: 1px;
    border: none;
    border-radius: 10px;
  }
  min-height: 20px;
  min-width: 80px;
  button {
    @include button();
    background: $button-active;
  }
}
