// APP PAGE VARIABLES

:root {
  --background: #080808;
  --background: #1c1c1e;
  --background: #2e2e30;
  --background: #080808;
  --color: #adadae;
  // FOR BUTTONS
  --button-background: #1c1c1e;
  --button-color: #ffffff;
  --button-color-disable: #606061;
  // FOR SIDEBAR
  --sidebar-background: #1c1c1e;
  --sidebar-background-light: #2e2e30;
}

/*
UNDO --
REDO --
BOLD --
ITALIC --
UNDERLINE --
STRIKETHROW --
TEXT ALIGN ( LEFT CENTER RIGHT) --
PLUS MINUS --



SHARE
VERTICAL DOTS 
USER
COLLECTION
ARROW UP
ARROW DOWN



EDIT 
INSERT
ICON
FORMAT
ARROW


LINK
SEARCH
FILTER
RESIZE
CHECVRON
CLOUD
*/
