@font-face {
  font-family: "Almamono";
  font-display: swap;
  src: url("/fonts/Almamono/Almamono.woff2");
}
@font-face {
  font-family: "Anomaly";
  font-display: swap;
  src: url("/fonts/Anomaly/Anomaly.otf");
}
@font-face {
  font-family: "CascadiaCode";
  font-display: swap;
  src: url("/fonts/CascadiaCode/Cascadia Code.woff2");
}
@font-face {
  font-family: "ComicMono";
  font-display: swap;
  src: url("/fonts/ComicMono/Comic Mono.ttf");
}

//Hasklig-It
@font-face {
  font-family: "Hasklig";
  font-display: swap;
  src: url("../public/fonts/Hasklig/Hasklig-Regular.ttf");
}
@font-face {
  font-family: "HaskligItalic";
  font-display: swap;
  src: url("../public/fonts/Hasklig/Hasklig-It.ttf");
}
// HachiMaruPop
@font-face {
  font-family: "HachiMaruPop";
  font-display: swap;
  src: url("../public/fonts/HachiMaruPop/HachiMaruPop.woff");
}
@font-face {
  font-family: "FiraCodeRegular";
  font-display: swap;
  src: url("/fonts/FiraCode/FiraCode-Regular.woff2");
}
@font-face {
  font-family: "IBMPlexMono";
  font-display: swap;
  src: url("/fonts/IBMPlexMono/IBMPlex Mono.ttf");
}
@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  src: url("/fonts/Inconsolata/Inconsolata.ttf");
}
@font-face {
  font-family: "InputMono";
  font-display: swap;
  src: url("/fonts/InputMono/Input Mono.woff2");
}
@font-face {
  font-family: "JetBrainsMono";
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMono.ttf");
}
@font-face {
  font-family: "AmitLight";
  font-display: swap;
  src: url("/fonts/Ligaturized/Amit Light.otf");
}
@font-face {
  font-family: "Anymous";
  font-display: swap;
  src: url("/fonts/Ligaturized/Anymous.ttf");
}
@font-face {
  font-family: "DroidSansMono";
  font-display: swap;
  src: url("/fonts/Ligaturized/DroidSansMono.ttf");
}
@font-face {
  font-family: "FantasqueSansMono";
  font-display: swap;
  src: url("/fonts/Ligaturized/FantasqueSansMono.ttf");
}
@font-face {
  font-family: "Hack";
  font-display: swap;
  src: url("/fonts/Ligaturized/Hack.ttf");
}
@font-face {
  font-family: "LexMonoItalic";
  font-display: swap;
  src: url("/fonts/Ligaturized/LexMono Italic.ttf");
}
@font-face {
  font-family: "LexMono";
  font-display: swap;
  src: url("/fonts/Ligaturized/LexMono.ttf");
}
@font-face {
  font-family: "LigaSrcProRegular";
  font-display: swap;
  src: url("/fonts/Ligaturized/LigaSrcPro-Regular.ttf");
}
@font-face {
  font-family: "RobotoMonoX";
  font-display: swap;
  src: url("/fonts/Ligaturized/RobotoMono X.ttf");
}
@font-face {
  font-family: "SourceProItalic";
  font-display: swap;
  src: url("/fonts/Ligaturized/SourcePro Italic.ttf");
}
@font-face {
  font-family: "SpaceMonoX";
  font-display: swap;
  src: url("/fonts/Ligaturized/SpaceMono X.ttf");
}
@font-face {
  font-family: "UbuntuMonoX";
  font-display: swap;
  src: url("/fonts/Ligaturized/UbuntuMono X.ttf");
}
@font-face {
  font-family: "MajorMonoDisplay";
  font-display: swap;
  src: url("/fonts/MajorMono/MajorMonoDisplay.ttf");
}
@font-face {
  font-family: "MonoidItalic";
  font-display: swap;
  src: url("/fonts/Monoid/Monoid-Italic.ttf");
}
@font-face {
  font-family: "MonoidRegular";
  font-display: swap;
  src: url("/fonts/Monoid/Monoid-Regular.ttf");
}
@font-face {
  font-family: "MonoidRetina";
  font-display: swap;
  src: url("/fonts/Monoid/Monoid-Retina.ttf");
}
@font-face {
  font-family: "MonoLisa";
  font-display: swap;
  src: url("/fonts/Monolisa/MonoLisa.woff2");
}
@font-face {
  font-family: "OperatorMonoItalic";
  font-display: swap;
  src: url("/fonts/OperatorMono/OperatorMono Italic.otf");
}
@font-face {
  font-family: "OperatorMono";
  font-display: swap;
  src: url("/fonts/OperatorMono/OperatorMono.otf");
}
@font-face {
  font-family: "RobotoMono";
  font-display: swap;
  src: url("/fonts/RobotoMono/RobotoMono.ttf");
}
@font-face {
  font-family: "SFMono";
  font-display: swap;
  // src: url("/fonts/SFMono/SFMono.otf");
  src: url("/fonts/SFMono//SFMonoLigaturized.ttf");
}
@font-face {
  font-family: "SourceCodePro";
  font-display: swap;
  src: url("/fonts/SourceCodePro/SourceCodePro.ttf");
}
@font-face {
  font-family: "Sweet";
  font-display: swap;
  src: url("/fonts/Sweet16/Sweet.ttf");
}
@font-face {
  font-family: "SyneMono";
  font-display: swap;
  src: url("/fonts/SyneMono/SyneMono.ttf");
}
@font-face {
  font-family: "UbuntuMono";
  font-display: swap;
  src: url("/fonts/UbuntuMono/UbuntuMono.ttf");
}
@font-face {
  font-family: "VictorMonoItalic";
  font-display: swap;
  src: url("/fonts/VictorMonoAll/VictorMono Italic.woff2");
}
@font-face {
  font-family: "VictorMonoRegular";
  font-display: swap;
  src: url("/fonts/VictorMonoAll/VictorMono Regular.woff2");
}
@font-face {
  font-family: "XanhMonoItalic";
  font-display: swap;
  src: url("/fonts/XanhMono/XanhMono Italic.ttf");
}
@font-face {
  font-family: "XanhMonoRegular";
  font-display: swap;
  src: url("/fonts/XanhMono/XanhMono Regular.ttf");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../public/fonts/Iosevka/iosevka-regular.woff2");
}
