@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Fira_Code/FiraCode-Regular.ttf);
}

@font-face {
  font-family: IBMPlexMono;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: MonoLisa;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Monolisa/MonoLisa-Regular.woff2);
}

@font-face {
  font-family: "OperatorMono";
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Operator-Mono/OperatorMono-Book.otf);
}
// @font-face {
//   font-family: "OperatorMono Italic";
//   font-style: normal;
//   font-display: swap;
//   src: url(../public/fonts/Operator-Mono/OperatorMono-BookItalic.otf);
// }

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: SourceCodePro;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}

@font-face {
  font-family: UbuntuMono;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@font-face {
  font-family: VictorMono;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/VictorMonoAll/VictorMono-Regular.ttf);
}
