@mixin scroll-bar($height: 4px, $width: 4px, $color: #2e2e30) {
  &::-webkit-scrollbar {
    appearance: none;
    height: $height;
    width: $width;
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    appearance: none;
    background: $color;
    border-radius: 8px;
  }
}
/**************************
For Padding With safe-area
***************************/
@mixin Padding($value, $type: null) {
  @if $type == null {
    padding-left: calc(max($value, env(safe-area-inset-left)));
    padding-right: calc(max($value, env(safe-area-inset-right)));
    padding-top: calc(max($value, env(safe-area-inset-top)));
    padding-bottom: calc(max($value, env(safe-area-inset-bottom)));
  }
  @if $type == "top" {
    padding-top: calc(max($value, env(safe-area-inset-top)));
  }
  @if $type == "left" {
    padding-left: calc(max($value, env(safe-area-inset-top)));
  }
  @if $type == "right" {
    padding-right: calc(max($value, env(safe-area-inset-top)));
  }
  @if $type == "bottom" {
    padding-bottom: calc(max($value, env(safe-area-inset-top)));
  }
}
/**************************
Easy Media Quries
***************************/
@mixin mediaQuery($min: null, $max: null, $rotate: null) {
  /**************************
  CHECK FOR MIN WIDTH
  ***************************/
  @if $min != null and $max == null and $rotate == null {
    @media screen and (min-device-width: $min) {
      @content;
    }
  }
  /**************************
  CHECK FOR MAX WIDTH
  ***************************/
  @if $max != null and $min == null and $rotate == null {
    @media screen and (max-device-width: $max) {
      @content;
    }
  }
  /**************************
  CHECK FOR ORIENTATION
  ***************************/
  @if $min != null and $max != null and $rotate == null {
    @media screen and (min-device-width: $min) and (max-device-width: $max) {
      @content;
    }
  }
  // // Check For Orientation
  // @if $rotate == portrait and $min != null and $max != null {
  //   @media screen and (min-device-width: $min) and (max-device-width: $max) and (orientation: portrait) {
  //     @content;
  //   }
  // } @else if $rotate == landscape and $min != null and $max != null {
  //   @media screen and (min-device-width: $min) and (max-device-width: $max) and (orientation: landscape) {
  //     @content;
  //   }
  // }
}

@mixin center {
  display: flex;
  align-items: center;
  place-content: center;
}
