@import "./mixin";

$radius: 10px;
$Padding: 4px;
$gapping: 6px;

// CONTAINER FOR LARGE SCREENS
.app-box {
  display: grid;
  height: 100vh;
  // place-content: center;
}
// MAIN CONTAINER
.container {
  // height: 100vh;
  display: grid;
  overflow: hidden;
  max-height: 100vh;
  grid-template-rows: auto 1fr;
}
// GRID CONTAINER
.grid {
  display: grid;
  grid-template-columns: 22% 1fr 22%;
  overflow: hidden;
}
// APP TOP
.top {
  flex: 1;
  display: flex;
  // overflow: hidden;
  position: relative;
  align-items: center;
  margin: $gapping;
  padding: $Padding;
  border-radius: $radius;
  justify-content: space-between;
}

.title {
  display: flex;
  // align-items: center;
}
.title .button {
  display: flex;
  align-items: center;
  min-width: 30px;
}

.title .text {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  p {
    font-size: 0.7rem;
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}

.controls {
  gap: 6px;
  display: flex;
  align-items: center;
}

// CENTER CONTAINER
.center {
  flex: 1 1;
  display: grid;
  overflow: auto;
  align-items: center;
  justify-content: center;
  margin: 0 $gapping $gapping;
  border-radius: $radius;
  padding: 1rem;
  @include scroll-bar(5px, 5px);
}
.editor {
  // display: grid;
}

// RIGHT CONTAINER
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: $gapping;
  border-radius: $radius;
  margin: 0 $gapping $gapping 0;
}

// LEFT CONTAINER
.left {
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: $radius;
  margin: 0 0 $gapping $gapping;
  background: var(--secondry-background);
  border: 1px solid var(--tertiary-background);
  @include scroll-bar();
}

.bottomcover {
  padding: 4px;
  display: grid;
  min-height: 50px;
  justify-self: flex-end;
  align-items: center;

  border-radius: 10px;
  background: var(--secondry-background);
  border: 1px solid var(--tertiary-background);
  overflow: auto;

  @include scroll-bar();
}

.tabs {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  overflow: hidden;
}

.tabContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  background: var(--secondry-background);
  border-radius: inherit;
  border: 1px solid var(--tertiary-background);
  overflow: auto;
  @include scroll-bar(4px, 4px);
}

.container {
  position: relative;
  background-image: linear-gradient(
      0deg,
      var(--primary-background),
      rgba(13, 17, 23, 0) 15%
    ),
    linear-gradient(180deg, var(--primary-background), rgba(13, 17, 23, 0) 15%),
    radial-gradient(
      circle farthest-side at 50% 0,
      rgba(13, 17, 23, 0),
      var(--primary-background)
    ),
    url("../public/texture/tile-dark.svg");
  background-position: 0 0, 0 0, 0 0, -1px -1px;
  background-size: auto, auto, auto, 64px;
  background-color: #272e35;
}

.horizontal {
  background: #3e3e3e;
  height: 1px;
  width: 100%;
  border: none;
  border-radius: 10px;
  opacity: 0.4;
}

// FOR LARGER SCREENS ONLY
@media screen and (min-width: 1366px) {
  .app-box {
    display: grid;
    height: 100vh;
    place-content: center;
  }
  .container {
    max-width: 1280px;
    max-height: 8 00px;
    min-width: 1280px;
    border-radius: 10px;
    border: 2px solid var(--tertiary-background);
  }
}
