@mixin blur-effect {
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  background: var(--ui-transparent-alpha);
}
@mixin hover {
  transition: all 100ms ease-in;
  outline: 2px solid transparent;
  &:hover {
    outline: var(--ui-outline);
  }
}

@mixin active {
  &:active {
    transform: translateY(2px);
  }
}

@mixin effect {
  display: flex;
  align-items: center;
  border-radius: 8px;
  outline: 2px solid transparent;
  background: var(--button-background);
}

@mixin button {
  padding: 0.4rem;
  display: flex;
  position: relative;
  font-size: 12px;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  min-width: 120px;
  max-width: 120px;
  transition: all 100ms ease;
  i {
    display: grid;
    place-content: center;
    max-width: 16px;
    max-height: 16px;
  }
  label {
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.button {
  @include effect();
  border-radius: 6px;
  button {
    @include button();
  }
  @include active();
  @include hover();
}

.iconbutton {
  @include effect();
  border-radius: 6px;
  button {
    @include button();
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
  }
  @include active();
  @include hover();
}
