@mixin light-color($prop) {
  &:nth-of-type(1) {
    #{$prop}: #fd4539;
  }
  &:nth-of-type(2) {
    #{$prop}: #ffd213;
  }
  &:nth-of-type(3) {
    #{$prop}: #21d854;
  }
}

.container {
  z-index: 10;
  display: flex;
  // padding:  0.4rem;
  align-items: center;
}
.lights {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.8rem;
  background: rgba(0, 0, 0, 0.471);
  span {
    height: 14px;
    width: 14px;
    border-radius: 20px;
  }
}

.traffic-background {
  @include light-color(background-color);
}
.traffic-border {
  border: 2px solid;
  @include light-color(border-color);
}
