/**************************
Mixin
***************************/
@mixin dock-common {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  backface-visibility: hidden;
  backdrop-filter: blur(15px);
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  border: var(--dock-border);
  background: var(--dock-background);
  border: 1px solid var(--dock-border-color);
  // Height and width
  width: auto;
  min-width: 250px;
  min-height: 60px;
  max-width: 678px;
}

.container {
  left: 50%;
  bottom: 30px;
  width: 100%;
  z-index: 20;
  display: flex;
  min-height: 60px;
  position: fixed;
  border-radius: 16px;
  justify-content: center;
  transform: translateX(-50%);
}

.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  transform-origin: 100% center;
}

/**************************
Dock Front 
***************************/
.inner .front {
  top: 0;
  left: 0;
  position: relative;
  @include dock-common();
}
/**************************
Dock Back
***************************/
.inner .back {
  top: 0;
  left: 50%;
  position: absolute;
  @include dock-common();
}
.options {
  gap: 2px;
  display: flex;
  align-items: center;
  max-width: inherit;
}
.inner .front span {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  // width: 50px;
  height: 100%;
  vertical-align: bottom;
  transition: 0.2s;
  transform-origin: 50% 100%;
  overflow: hidden;
  border-radius: 8px;
  &:hover {
    background: var(--button-hover);
  }
  i {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: bottom;
  }
}

/**************************
Block
***************************/
.block {
  gap: 8px;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  padding: 8px;
  label {
    font-size: 11px;
  }
}

.close {
  left: 50%;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background: var(--button-background);
  transform: translate(-50%, -150%);
  backdrop-filter: blur(20px);
  outline: 2px solid transparent;
  transition: all 150ms ease-in;
  &:hover {
    outline: 2px solid var(--button-outline-color);
  }
}

// @media screen and (min-width: 10px) and (max-width: 480px) {
//   .inner .front,
//   .inner .back {
//     min-width: unset;
//     // min-height: 50px;
//     max-width: 960%;
//     // width: 100%;
//     overflow: auto;
//   }
//   .inner .front span {
//     // min-width: 50px;
//   }
// }
