//
.container {
  display: flex;
  gap: 4px;
  flex-direction: column;
  background: #000;
  padding: 4px;
  border-radius: 6px;
  width: 200px;
  label {
    font-size: 12px;
  }
}

.head {
  display: flex;
  align-items: center;
}

.indigo {
  background: var(--ui-color-indigo);
}
