//

.container {
  // overflow: auto;
  display: flex;
  flex-direction: column;
}
.imageContainer {
  display: flex;
}

.imageBox {
  gap: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gridBox {
  gap: 4px;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image {
  display: flex;
  overflow: hidden;
  border-radius: 4px;
}
.picture {
  display: flex;
  flex: 1;
  img {
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.gradient {
  flex: 1;
  min-height: 100px;
}

.showmore {
  display: flex;
  padding: 0.5rem;

  align-items: center;
  justify-content: center;
  flex: 1;
  button {
    gap: 5px;
    flex-direction: column;
    background: var(--ui-transparent-1);
    padding: 0.6rem;
  }
}
