// INSERT SOMETHING

.container {
  padding: 0.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.item {
  height: 100px;
  background: #303030;
  border-radius: 10px;
  display: grid;
  place-content: center;
}
