.layout {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(145deg, #000000 0%, #18222c 60%);
  // background-image: linear-gradient(145deg, #000000 0%, #2c3e50 74%);
}
.main {
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// background-image: linear-gradient(
//   23deg,
//   #574189 0%,
//   #fd0456 40%,
//   #fe2051 62%,
//   #ff354d 79%,
//   #ee567c 86%,
//   #917cac 92%,
//   #638fc4 95%
// );
