.layout {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #0d1117 7%, rgba(13, 17, 23, 0) 20%),
    radial-gradient(
      circle farthest-side at -25% 150%,
      #0d1117 48%,
      rgba(13, 17, 23, 0) 65%
    ),
    radial-gradient(
      circle farthest-corner at -25% -125%,
      rgba(13, 17, 23, 0) 50%,
      #0d1117 70%,
      rgba(13, 17, 23, 0) 72%
    ),
    radial-gradient(
      circle farthest-corner at 0 -50%,
      #0d1117 32%,
      hsla(0, 0%, 100%, 0) 62%
    ),
    radial-gradient(
      circle farthest-side at 0 -25%,
      #007252 50%,
      rgba(13, 17, 23, 0) 72%
    ),
    radial-gradient(
      circle farthest-corner at 50% -100%,
      #3f51b5 20%,
      rgba(13, 17, 23, 0) 72%
    );
}
.main {
  display: flex;
  position: relative;
  min-height: 110vh;
  flex-direction: column;
  justify-content: center;
}

// App Header

.header {
  top: 0;
  position: sticky;
  z-index: 20;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // backdrop-filter: blur(15px) saturate(150%);
  // background: var(--dock-background);
  // border-bottom: 1px solid var(--dock-border-color);
}

.header .controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 5px;
  }
}
