.layout {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(145deg, #000000 0%, #18222c 60%);
  // background-image: linear-gradient(145deg, #000000 0%, #2c3e50 74%);
}
.main {
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

// App Header

.header {
  top: 0;
  // z-index: 20;
  // padding: 1rem;
  // width: 100%;
  position: fixed;
  // backdrop-filter: blur(10px);
  // background: var(--dock-background);
  // border: 1px solid var(--dock-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
