$itemHeight: 56px;
$itemWidth: 56px;

.container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 600px;
  min-width: 600px;
  max-height: inherit;
}

.content {
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: auto;
  &::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    height: 0;
    width: 0;
  }
}

@mixin button {
  display: flex;
  backdrop-filter: blur(10px);
  height: $itemHeight;
  min-width: $itemWidth;
  border-radius: 8px;
  background: var(--ui-alpha-5);
  button {
    flex: 1;
    padding: 0;
    justify-content: center;
    background: transparent;
  }
  label {
    display: flex;
    align-items: center;
  }
}

.picker {
  @include button();
  position: sticky;
  display: grid;
  place-content: center;
}

.content form {
  display: flex;
  overflow: hidden;
  @include button();
  button {
    padding: 0.4rem;
    display: flex;
    align-content: center;
    align-items: center;
    background: transparent;
    input {
      width: 100%;
      background: transparent;
    }
  }
}

.picture {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  height: $itemHeight;
  min-width: $itemWidth;
  // max-width: 150px;
  transition: all 200ms ease-in;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid var(--ui-color);
    border-radius: inherit;
  }
}
