.templates {
  gap: 8px;
  display: grid;
  padding: 0.4rem;
}

.templates .background {
  padding: 1rem;
  border-radius: 8px;
  min-height: 170px;
}
.temp-box,
.custom-box {
  min-height: 100px;
  min-width: 130px;
  border-radius: 10px;
  background: #0000007a;
  backdrop-filter: blur(20px);
  display: flex;
  gap: 2px;
  flex-direction: column;
  overflow: hidden;
}

// FOR CUSTOM BOX
.custom-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-text {
  font-size: 11px;
  text-align: center;
  color: var(--Color-1);
}

// STYLE FOR FAKE CODE COLORS

.fake-code {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.4rem;
  span {
    height: 2pt;
    border-radius: 10px;
    background-color: #50fa7b;
    &:nth-of-type(1) {
      width: 70%;
      background-color: #50fa7b;
    }
    &:nth-of-type(2) {
      width: 40%;
      background-color: #ff79c6;
    }
    &:nth-of-type(3) {
      width: 60%;
      background-color: #fda331;
    }
    &:nth-of-type(4) {
      width: 65%;
      background-color: #8abeb7;
    }
    &:nth-of-type(5) {
      width: 54%;
      background-color: #ff79c6;
    }
    &:nth-of-type(6) {
      width: 90%;
      background-color: #b8bb26;
    }
    &:nth-of-type(7) {
      width: 40%;
      background-color: #a2a9b5;
    }
    &:nth-of-type(8) {
      width: 90%;
      background-color: #ff79c6;
    }
  }
}
// CODE HEADER MOCKUPS

@mixin common-head {
  gap: 4px;
  flex: 0.25;
  z-index: 10;
  display: flex;
  align-items: center;
  // padding: 0 0.4rem;
  background: rgba(0, 0, 0, 0.5);
}

@mixin span-size {
  height: 8px;
  width: 8px;
  border-radius: 20px;
}

@mixin input-fields {
  display: flex;
  align-items: center;
  font-size: 14px;
  input {
    background: none;
    color: #ccc;
  }
  .file-icon {
    display: grid;
    place-content: center;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 18px;
      aspect-ratio: 1/1;
    }
  }
}

.ios-lights {
  @include common-head();
  .box {
    display: flex;
    align-items: center;
    gap: 8px;
    // padding: 0.8rem 0 0.8rem 0.8rem;
  }
}

.ios-lights .input-field {
  @include input-fields();
}

// OTHER
.lights-filled {
  @include common-head();
  span {
    @include span-size();
  }
}
.lights-outline {
  @include common-head();
  span {
    @include span-size();
  }
}

.windows-ten {
  @include common-head();
  padding-left: 1rem;
  justify-content: space-between;
  .controls {
    gap: 6px;
    display: flex;
    align-items: center;
  }
}

.windows-ten .input-field {
  @include input-fields();
}
