$gapping: 4px;
$size: 30px;

/*


*/
.container {
  display: flex;
  border-radius: 6px;
  height: $size;
  align-items: center;
  max-width: 60px;
  background: var(--button-background);
  position: relative;
  padding: $gapping;
  span {
    position: absolute;
    height: calc($size - $gapping);
    width: calc($size - $gapping);
    border-radius: 6px;
    place-content: center;
    transition: all 200ms ease;
  }
}
