$gapping: 4px;

.container {
  display: flex;
  border-radius: 6px;
  height: 30px;
  min-width: 70px;
  max-width: 70px;
  background: var(--button-background);
  button {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: all 200ms ease-in;
    width: 100%;
  }
  span {
    left: 0;
    width: 50%;
    display: grid;
    position: absolute;
    border-radius: 6px;
    height: 100%;
    place-content: center;
    transition: all 200ms ease;
  }

  i {
    transition: all 200ms ease;
  }
}
